@import "../../styles/colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.tech {
  background: $tea-green;
  border-radius: 20px;
  padding: $spacer * 1.5;
  color: $there-we-could-sail;
  font-size: 1.6rem;
}

.tech-names {
  color: $slate-gray;
  font-size: 25px;
}