@use "../../styles/colors";

.image {
  height: 30px;
  margin-right: 15px;
}

.nav a {
  color: colors.$mine-shaft !important;

  &:hover {
    color: colors.$black !important;
  }
}

.navbar {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  opacity: 0.95;
}

.brand {
  font-variant: small-caps;
  letter-spacing: .1rem;
}