@import "colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: $adrift-in-dreams;
  padding-bottom: $spacer;
}

p {
  font-size: 25px;
  color: $adrift-in-dreams;
}

button {
  background-color: #3B8686 !important;
  border-color: #3B8686 !important;
}

.darker {
  background-color: $white-sand;
  margin: $spacer*13 0;
  padding: $spacer*6 0 $spacer*5 0;
}

.painted {
  background-color: $there-we-could-sail;
  margin: $spacer*10 0;
  padding: $spacer*6 0 $spacer*5 0;

  p, h2 {
    color: $mercury;
  }
}

.colorful {
  background: radial-gradient(circle at bottom right, $sunlit-sea 0, $there-we-could-sail 100%);
  color: $white;
  margin: $spacer*10 0;
  padding: $spacer*6 0 $spacer*5 0;

  p, small {
    color: $mercury;
  }
}

.skew.container-fluid {
  transform: skewY(-4deg);

  .container {
    transform: skewY(4deg);
  }
}

.card-body {
  background-color: $white-sand;
}